*{
    font-family: Georgia;
    font-style: italic;
}

.atras{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 650px;
    display: flex;
    align-items: center;
}

.estilo{
    text-align: center;
    color: whitesmoke;
    font-size: 80px; 
    margin-left: 20px;
    margin-top: 250px;
    
}



.titu{
    background-color: #070719;
    text-align: center;
    height: 70px;
    padding-top: 15px;
}

h1{
    color: white;
    font-family: Georgia;
    font-style: italic;
}

.fondo{
    width: 100%;
}

#sobre{
    color: #084B8A;
    text-align: center;
    font-family: Georgia;
    font-style: italic;
}

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono{
    text-align: center;
}

#anuncios{
    display: flex;
    justify-content: space-between;
}

.foto{
    text-align: center;
}

.fotos{
    width: 70%;
}

.cen {
    text-align: center;
    
}

#centro{
    padding: 30px;
}

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
}

.tipo{
    color: white;
    font-size: 35px;
    text-align: center;
}

.boton_amarillo{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
    padding: 1px 3px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    border: 2px;
    display: block;
    color: #088A85;
}
